@import "/src/styles/variaveis";

h1 {
}

.galeria {
  width: min(948px, 100%);
  // background-color: blue;
  margin-bottom: 100px;
}

.galeria__title {
  color: $roxo;
}

// .tags__list {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   text-align: center;

//   gap: 1.5rem;
//   // flex: 1;
//   // justify-content: flex-end;
// }

// .tags__item {
//   padding: 10px 5px;
//   border-radius: 10px;
//   background-color: $tag-color;
//   flex-basis: 1;
// }
