@import-normalize;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
#root {
  background: linear-gradient(
    174.61deg,
    #041833 4.16%,
    #04244f 48%,
    #154580 96.76%
  );
  min-height: 100vh;
}

.container {
  //   min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr min(1440px, 100%) 1fr;
  min-block-size: 100vh;
  grid-auto-rows: max-content;
}

.container > * {
  grid-column: 2;
}

.full-width {
  grid-column: 1/-1;
}
